{% extends 'base.html.twig' %}

{% block title %}Tasks{% endblock %}

{% block body %}
    <h1>Tasks</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Action</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.action }}</td>
                <td>
                    <a href="{{ path('task_show', {'id': task.id}) }}"
                       data-toggle="tooltip"
                       data-placement="top"
                       title="Take a closer look"
                    >
                        <i class="fa fa-eye"></i>
                    </a>
                    <a href="{{ path('task_edit', {'id': task.id}) }}"
                       data-toggle="tooltip"
                       data-placement="top"
                       title="Edit"
                    >
                        <i class="fa fa-edit"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" role="button" href="{{ path('task_new') }}">
        <i class="fa fa-plus"></i>
        Create new
    </a>
{% endblock %}
