{% extends 'base.html.twig' %}

{% block title %}Task{% endblock %}

{% block body %}
    <h1 class="title">Task</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ task.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ task.description }}</td>
            </tr>
            <tr>
                <th>Action</th>
                <td>{{ task.action }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('task_index') }}">back to list</a>

    <div class="d-flex">
        <a class="btn btn-primary mr-2"
           role="button"
           href="{{ path('task_edit', {'id': task.id}) }}"
        >
            <i class="fa fa-edit"></i>
            Edit
        </a>

        {{ include('task/_delete_form.html.twig') }}
    </div>

{% endblock %}
